@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

@font-face {
    font-family: 'Hangyaboly';
    src: url('../Fonts/hangyaboly/Hangyaboly.ttf') format('truetype');
}

@font-face {
    font-family: 'Roca One';
    src: url('../Fonts/roca-one-regular-maisfontes.6327/roca-one-regular.ttf') format('truetype');
}


body {

    margin: 0px;
    border: 0px;
    background-color: #20223a;

}

html {
    scroll-behavior: smooth;
}

.home_fundo {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image:
        linear-gradient(to bottom, rgba(32, 34, 58, 0) 50%, rgba(32, 34, 58, 1)),
        linear-gradient(to right, rgba(32, 34, 58, 1), rgba(32, 34, 58, 0) 40%),
        linear-gradient(to left, rgba(32, 34, 58, 1), rgba(32, 34, 58, 0) 40%),

        url('../ASSETS/Posters/banner.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.home_fundo h2 {

    font-family: 'Hangyaboly';
    font-size: 53px;
    color: white;
    text-align: center;
    line-height: 1.6;
    margin-bottom: -125px;


}

button {

    width: 460px;
    height: 150px;
    padding: 20px;

    background-color: black;
    border: 0;
    border-radius: 51px;

    font-family: 'Roca One';
    text-align: center;
    font-size: 40.6px;
    font-weight: 700;

    color: #ffc700;

    transition: 0.3s ease;

}

button:hover {

    transform: scale(1.03);
    cursor: pointer;
    color: #ffc500;

}


h1 {

    font-family: 'Hangyaboly';
    color: white;

}

p {

    font-family: 'Hangyaboly';
    color: white;
    text-align: justify;
    margin: 0 auto;

}

/* ======================= HEADER ======================= */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.79);
    width: 100%;
    height: 100px;
    gap: 40px;

    font-family: 'DM Sans', sans-serif;
    font-size: 20.6px;
    

}

.header img {
    width: 250px;
    height: auto;
    padding-left: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding-right: 50px;
}   

.navbar a {
    text-decoration: none;
    color: white
}

.navbar a:hover {
    text-decoration: none;
    color: #ffc700
}

.navbar li {
    list-style: none;
    color: white
}

.navbar li:hover {

  transform: scale(1.03);
    transition: 0.3s;
  cursor: pointer;

}

.estetico {

    border-radius: 20px;
    background:#810000;
    padding: 6px 20px;
    text-decoration: none;
}



/* ======================= BANNER ======================= */

.banner {

    margin-top: 125px;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.banner button {

    margin-top: 70px;
    margin-bottom: 20px;

}

.posters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px;
}

.posters img {
    width: 100%;
    object-fit: cover;
}

.posters img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    filter: brightness(1);
}


.posters img:hover {
    filter: brightness(0.7);
    transform: scale(1.03);
}

/* ======================= SOBRENÓS ======================= */


.sobreNos {

    height: 100vh;
    width: 100%;
    margin-top: 40px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.sobreNos h1 {

    font-size: 65px;
    font-weight: 100;
    padding-bottom: 20px;

}

.sobreNos img {

    width: 480px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    transition: 0.3s ease;

}

.sobreNos img:hover {

    content: url('../ASSETS/logo_mordida.png');
    transform: scale(1.4);
    
}

.sobreNos p {
    padding-top: 20px;
    font-size: 52px;
    max-width: 880px;

}

.sobreNos button {

    width: 460px;
    height: 100px;
    padding: 20px;
    margin-top: 20px;

}

/* ======================= sorteio ======================= */

.sorteio {

    height: 100vh;
    width: 100%;
    margin-top: 80px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.sorteio h1 {

    font-size: 65px;
    font-weight: 100;
    padding-bottom: 20px;

}

.sorteio img {

    width: 60%;
    height: auto;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 20px;

}

.sorteio p {
    padding-top: 20px;
    font-size: 36px;
    max-width: 1150px;
}

/* ======================= COMPETICAO ======================= */

.competicao {

    height: 100vh;
    width: 100%;
    margin-top: 180px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.competicao h1 {

    font-size: 65px;
    max-width: 80%;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;

}

.competicao img {

    width: 60%;
    height: 700px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 20px;

}

.competicao p {
    padding-top: 20px;
    font-size: 36px;
    max-width: 1150px;
}

.img_lider {
    margin-top: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_lider img {
    max-width: 100%;
    height: auto;
}

.img_final {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_final img {

    width: 70%;
    height: auto;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 20px;

}


.img_final h1 {

    font-size: 65px;
    max-width: 80%;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
}

/* ======================= footer ======================= */

.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    background-color: black;
    gap: 1px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    text-align: right;
    color: white;
    font-size: 10px;    
    padding-right: 20px;
}

.footer img {
    width: 250px;
    height: auto;
    padding-left: 80px;
}

.footer .navbar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-left: 200px;
    white-space: nowrap;
    font-size: 25px;
}   

.footer .navbar a {
    text-decoration: none;
    color: white
}

.footer .navbar a:hover {
    text-decoration: none;
    color: #ffc700
}

.footer .navbar li {
    list-style: none;
    color: white
}

.footer .navbar li:hover {

  transform: scale(1.03);
    transition: 0.3s;
  cursor: pointer;
}

.footer span {

font-family: 'Courier New', Courier, monospace;
color: white;


}